#container{
	width:1000px;
	margin:0 auto;
	font-family:"M PLUS Rounded 1c";
	background-color:#7ce2d9;
	padding:20px 0 40px;
}
h1{
	width:800px;
	margin:0 auto 20px;
	text-align:center;
	font-size:67px;
	border:5px solid #fff00f;
	border-radius:20px;
	padding:0 10px;
	background-color:#00ff76;
	color:#ff69b4;
	text-shadow: 1px 1px 0 #333;
}
table{
	width:90%;
	margin:20px auto 0;
}
td,th{
	border:5px solid #fff00f;
	text-align: center;
	background-color:#fff;
	font-size:50px;
	padding:5px 0;
}
th{
	color:white;
	background-color:#00ff76;
	text-shadow: 1px 1px #333;
}

/*tr *:nth-child(2n){←偶数を指定*/
tr *:first-child{
	color:#ff69b4;
}
tr *:last-child{
	color:#0ba9ea;
}
